Repository agglayer/provers, pull requests merged in 2025-08, with the labels that each got.

#256 fix: struct members in full execution proof
  crates/aggchain-proof-builder/elf/riscv32im-succinct-zkvm-elf
  crates/aggchain-proof-core/src/full_execution_proof.rs
  crates/aggchain-proof-program/Cargo.lock
  crates/aggchain-proof-program/Cargo.toml
  crates/aggchain-proof-service/src/custom_chain_data/tests.rs
Labels: bug, agglayer/provers, audit

#265 fix: exit with error
  crates/aggkit-prover/src/lib.rs
  crates/agglayer-prover/src/lib.rs
Labels: bug

#280 build(deps): update `slab`
  Cargo.lock
Labels: dependencies
