Repository agglayer/provers, pull requests merged in 2025-04, with the labels that each got.

#137 feat: add prover executor sp1 endpoint param
  Cargo.lock
  crates/aggkit-prover-config/tests/snapshots/validate_deserialize__empty_rpcs.snap
  crates/aggkit-prover-config/tests/snapshots/validate_deserialize__prover_grpc_max_decoding_message_size.snap
  crates/agglayer-prover-config/tests/snapshots/validate_deserialize__empty_rpcs.snap
  crates/agglayer-prover-config/tests/snapshots/validate_deserialize__prover_grpc_max_decoding_message_size.snap
  crates/prover-config/Cargo.toml
  crates/prover-config/src/lib.rs
  crates/prover-config/tests/validate_deserialize.rs
  crates/prover-executor/src/lib.rs
Labels: agglayer/provers

#135 fix: align vk and public value mismatch
  Cargo.lock
  Cargo.toml
  crates/aggchain-proof-builder/Cargo.toml
  crates/aggchain-proof-builder/src/error.rs
  crates/aggchain-proof-builder/src/lib.rs
  crates/aggchain-proof-core/src/full_execution_proof.rs
  crates/aggchain-proof-program/elf/riscv32im-succinct-zkvm-elf
  crates/aggkit-prover/src/rpc.rs
  crates/proposer-service/Cargo.toml
  crates/proposer-service/src/error.rs
  crates/proposer-service/src/lib.rs
  crates/proposer-service/src/tests/mod.rs
Labels: agglayer/provers

#139 fix: optimize vkey generation
  crates/aggchain-proof-builder/src/lib.rs
Labels: bug, agglayer/provers

#132 feat: add execute program test
  Cargo.lock
  crates/aggchain-proof-builder/Cargo.toml
  crates/aggchain-proof-builder/src/lib.rs
  crates/aggchain-proof-builder/src/tests/data/aggchain_prover_inputs_001_lpb_1_eb_4.json
  crates/aggchain-proof-builder/src/tests/mod.rs
  crates/proposer-service/src/tests/mod.rs
Labels: agglayer/provers

#166 feat: add `block_index` to `ProvenInsertedGERWithBlockNumber` proto
  crates/aggchain-proof-types/src/inserted_ger.rs
  crates/aggkit-prover-types/src/conversion/inserted_ger.rs
  crates/aggkit-prover-types/src/generated/aggkit.prover.v1.rs
  crates/aggkit-prover-types/src/generated/aggkit.prover.v1.serde.rs
  proto/aggkit/prover/v1/aggchain_proof_generation.proto
Labels: agglayer/provers

#170 fix: update vkey_hex encoding method to use hash_bytes
  crates/aggkit-prover/src/main.rs
Labels: bug

#162 feat: add output_root in aggregation proof
  crates/aggchain-proof-builder/src/lib.rs
  crates/aggchain-proof-service/src/service.rs
Labels: feature

#161 feat: add support for fetching trusted sequencer address
  crates/aggchain-proof-builder/src/error.rs
  crates/aggchain-proof-builder/src/lib.rs
  crates/aggchain-proof-contracts/Cargo.toml
  crates/aggchain-proof-contracts/src/contracts.rs
  crates/aggchain-proof-contracts/src/error.rs
  crates/aggchain-proof-contracts/src/lib.rs
  crates/aggchain-proof-contracts/src/tests/mod.rs
Labels: feature

#181 fix: refactor custom chain data to use `abi.encode`
  Cargo.lock
  crates/aggchain-proof-service/Cargo.toml
  crates/aggchain-proof-service/src/custom_chain_data/mod.rs
  crates/aggchain-proof-service/src/custom_chain_data/tests.rs
  crates/aggchain-proof-service/src/error.rs
  crates/aggchain-proof-service/src/service.rs
Labels: bug
