Repository agglayer/provers, pull requests merged in 2025-02, with the labels that each got.

#26 fix: expose method for endpoint config
  crates/prover-engine/src/lib.rs
Labels: bug

#27 feat: define rpc and metrics endpoint for agglayer-prover
  crates/agglayer-prover/src/lib.rs
Labels: feature

#35 fix: adding ready checks on primary prover
  crates/prover-executor/src/lib.rs
Labels: bug

#58 feat: local exit root retrieval
  Cargo.lock
  Cargo.toml
  crates/aggchain-proof-builder/Cargo.toml
  crates/aggchain-proof-builder/src/error.rs
  crates/aggchain-proof-builder/src/lib.rs
  crates/aggchain-proof-contracts/Cargo.toml
  crates/aggchain-proof-contracts/contracts/global-exit-root-manager-l2-sovereign-chain.json
  crates/aggchain-proof-contracts/contracts/polygon-zkevm-bridge-v2.json
  crates/aggchain-proof-contracts/src/error.rs
  crates/aggchain-proof-contracts/src/lib.rs
  crates/aggchain-proof-service/src/error.rs
  crates/aggchain-proof-service/src/service.rs
  crates/prover-alloy/src/lib.rs
Labels: agglayer/provers

#71 feat: aggchain contracts client
  Cargo.lock
  crates/aggchain-proof-builder/src/config.rs
  crates/aggchain-proof-builder/src/error.rs
  crates/aggchain-proof-builder/src/lib.rs
  crates/aggchain-proof-contracts/Cargo.toml
  crates/aggchain-proof-contracts/contracts/aggchain-fep.json
  crates/aggchain-proof-contracts/contracts/polygon-rollup-manager.json
  crates/aggchain-proof-contracts/src/config.rs
  crates/aggchain-proof-contracts/src/contracts.rs
  crates/aggchain-proof-contracts/src/error.rs
  crates/aggchain-proof-contracts/src/lib.rs
  crates/aggchain-proof-core/src/lib.rs
  crates/aggchain-proof-service/src/service.rs
  crates/aggkit-prover-config/tests/snapshots/validate_deserialize__empty_rpcs.snap
  crates/aggkit-prover-config/tests/snapshots/validate_deserialize__prover_grpc_max_decoding_message_size.snap
  crates/aggkit-prover/src/main.rs
  crates/aggkit-prover/src/rpc.rs
  crates/aggkit-prover/src/tests/mod.rs
  crates/proposer-client/Cargo.toml
  crates/proposer-service/src/config.rs
  crates/prover-alloy/src/lib.rs
Labels: agglayer/provers
