Repository agglayer/provers, pull requests merged in 2025-05, with the labels that each got.

#178 fix: clarify documentation for public values in structs
  crates/aggchain-proof-builder/src/lib.rs
  crates/aggchain-proof-service/src/service.rs
Labels: bug

#186 feat: integrate rust proposer
  Cargo.lock
  Cargo.toml
  crates/aggchain-proof-builder/src/lib.rs
  crates/aggchain-proof-core/Cargo.toml
  crates/aggchain-proof-core/src/full_execution_proof.rs
  crates/aggchain-proof-program/Cargo.lock
  crates/aggchain-proof-program/elf/riscv32im-succinct-zkvm-elf
  crates/aggchain-proof-service/src/service.rs
  crates/aggkit-prover/src/rpc.rs
  crates/proposer-client/Cargo.toml
  crates/proposer-client/src/client.rs
  crates/proposer-client/src/config.rs
  crates/proposer-client/src/error.rs
  crates/proposer-client/src/lib.rs
  crates/proposer-client/src/mock_grpc_prover.rs
  crates/proposer-client/src/mock_prover.rs
  crates/proposer-client/src/network_prover.rs
  crates/proposer-client/src/rpc.rs
  crates/proposer-client/src/rpc/mod.rs
  crates/proposer-client/src/rpc/proofs_service_types.rs
  crates/proposer-client/src/tests/mock_server.rs
  crates/proposer-client/src/tests/mod.rs
  crates/proposer-client/src/tests/proposer_rpc.rs
  crates/proposer-client/src/tests/prover_rpc.rs
  crates/proposer-elfs/build.rs
  crates/proposer-elfs/src/lib.rs
  crates/proposer-elfs/src/test/snapshots/proposer_elfs__test__aggregation_vkey.snap
  crates/proposer-elfs/src/test/snapshots/proposer_elfs__test__range_vkey.snap
  crates/proposer-service/src/lib.rs
  crates/proposer-service/src/tests/mod.rs
  crates/proposer-service/src/tests/proposer_service_test_program.rs
Labels: agglayer/provers

#207 fix: update protobuf field tags in aggkit.prover.v1.rs
  crates/aggkit-prover-types/src/generated/aggkit.prover.v1.rs
Labels: bug

#211 feat: update interop dependencies to feature branch and adjust RPC
  Cargo.lock
  Cargo.toml
  crates/aggkit-prover/src/rpc.rs
  crates/proposer-client/src/error.rs
  crates/proposer-client/src/rpc/mod.rs
Labels: feature

#214 feat: update proto deps
  buf.lock
  buf.yaml
Labels: feature

#213 feat: improved logs
  crates/aggchain-proof-builder/src/lib.rs
  crates/aggchain-proof-builder/src/tests/mod.rs
  crates/aggchain-proof-contracts/src/tests/mod.rs
  crates/aggchain-proof-core/build.rs
  crates/aggchain-proof-core/src/bridge/mod.rs
  crates/aggkit-prover/src/rpc.rs
  crates/proposer-client/src/client.rs
  crates/proposer-client/src/lib.rs
  crates/proposer-service/src/lib.rs
  crates/proposer-service/src/tests/proposer_service_test_program.rs
  crates/prover-logger/src/log.rs
Labels: agglayer/provers

#219 chore: bump interop to v0.6.0
  Cargo.lock
  Cargo.toml
  crates/aggchain-proof-program/Cargo.toml
  crates/aggchain-proof-service/src/custom_chain_data/tests.rs
Labels: agglayer/provers

#220 feat: adding logs and regenerate vkey
  crates/aggchain-proof-program/Cargo.lock
  crates/aggchain-proof-program/elf/riscv32im-succinct-zkvm-elf
  crates/aggkit-prover/src/rpc.rs
Labels: feature

#216 fix: improve error handling for reflection build methods
  crates/prover-engine/src/lib.rs
Labels: bug
