Repository agglayer/provers, pull requests merged in 2025-03, with the labels that each got.

#85 feat: add tests for aggchain contracts client
  Cargo.lock
  Cargo.toml
  crates/aggchain-proof-contracts/Cargo.toml
  crates/aggchain-proof-contracts/src/lib.rs
  crates/aggchain-proof-contracts/src/tests/get_l2_output_at_block.json
  crates/aggchain-proof-contracts/src/tests/mod.rs
  crates/aggchain-proof-contracts/src/tests/parsing_l2_output_root.json
  crates/proposer-client/Cargo.toml
Labels: agglayer/provers

#87 feat: refactor and update proof types
  Cargo.lock
  Cargo.toml
  crates/aggchain-proof-builder/Cargo.toml
  crates/aggchain-proof-builder/src/lib.rs
  crates/aggchain-proof-contracts/Cargo.toml
  crates/aggchain-proof-contracts/src/contracts.rs
  crates/aggchain-proof-contracts/src/lib.rs
  crates/aggchain-proof-contracts/src/tests/mod.rs
  crates/aggchain-proof-core/src/keccak/digest.rs
  crates/aggchain-proof-core/src/lib.rs
  crates/aggchain-proof-service/Cargo.toml
  crates/aggchain-proof-service/src/service.rs
  crates/aggchain-proof-types/Cargo.toml
  crates/aggchain-proof-types/src/lib.rs
  crates/aggchain-proof-types/src/proof.rs
  crates/aggkit-prover-types/Cargo.toml
  crates/aggkit-prover-types/src/conversion.rs
  crates/aggkit-prover-types/src/error.rs
  crates/aggkit-prover-types/src/lib.rs
  crates/aggkit-prover-types/src/vkey_hash.rs
  crates/aggkit-prover/Cargo.toml
  crates/aggkit-prover/src/rpc.rs
  crates/aggkit-prover/src/tests/mod.rs
  crates/proposer-client/src/lib.rs
  crates/proposer-client/src/rpc.rs
  crates/proposer-client/src/tests/mod.rs
  crates/proposer-service/Cargo.toml
  crates/proposer-service/src/lib.rs
  crates/proposer-service/src/tests/mod.rs
  crates/prover-alloy/Cargo.toml
  crates/prover-alloy/src/lib.rs
Labels: agglayer/provers

#106 feat: update protobuf to use interop
  Cargo.lock
  Cargo.toml
  buf.aggkit-prover.gen.yaml
  buf.agglayer-prover.gen.yaml
  buf.lock
  buf.yaml
  crates/aggchain-proof-builder/Cargo.toml
  crates/aggchain-proof-builder/src/lib.rs
  crates/aggchain-proof-contracts/Cargo.toml
  crates/aggchain-proof-contracts/src/contracts.rs
  crates/aggchain-proof-contracts/src/lib.rs
  crates/aggchain-proof-contracts/src/tests/mod.rs
  crates/aggchain-proof-core/Cargo.toml
  crates/aggchain-proof-core/src/bridge/inserted_ger.rs
  crates/aggchain-proof-core/src/bridge/static_call.rs
  crates/aggchain-proof-core/src/full_execution_proof.rs
  crates/aggchain-proof-core/src/keccak.rs
  crates/aggchain-proof-core/src/keccak/digest.rs
  crates/aggchain-proof-core/src/lib.rs
  crates/aggchain-proof-core/src/local_exit_tree/hasher.rs
  crates/aggchain-proof-core/src/proof.rs
  crates/aggchain-proof-service/src/service.rs
  crates/aggchain-proof-types/Cargo.toml
  crates/aggchain-proof-types/src/imported_bridge_exit.rs
  crates/aggchain-proof-types/src/inserted_ger.rs
  crates/aggchain-proof-types/src/lib.rs
  crates/aggchain-proof-types/src/proof.rs
  crates/aggkit-prover-types/Cargo.toml
  crates/aggkit-prover-types/build.rs
  crates/aggkit-prover-types/src/conversion.rs
  crates/aggkit-prover-types/src/conversion/imported_bridge_exit.rs
  crates/aggkit-prover-types/src/conversion/inserted_ger.rs
  crates/aggkit-prover-types/src/conversion/mod.rs
  crates/aggkit-prover-types/src/error.rs
  crates/aggkit-prover-types/src/generated/aggkit.prover.bin
  crates/aggkit-prover-types/src/generated/aggkit.prover.v1.rs
  crates/aggkit-prover-types/src/generated/aggkit.prover.v1.serde.rs
  crates/aggkit-prover-types/src/generated/aggkit.prover.v1.tonic.rs
  crates/aggkit-prover-types/src/generated/mod.rs
  crates/aggkit-prover-types/src/lib.rs
  crates/aggkit-prover/Cargo.toml
  crates/aggkit-prover/src/lib.rs
  crates/aggkit-prover/src/rpc.rs
  crates/aggkit-prover/src/tests/mod.rs
  crates/agglayer-prover-types/Cargo.toml
  crates/agglayer-prover-types/build.rs
  crates/agglayer-prover-types/src/error.rs
  crates/agglayer-prover-types/src/generated/agglayer.prover.v1.rs
  crates/agglayer-prover-types/src/generated/agglayer.prover.v1.serde.rs
  crates/agglayer-prover-types/src/generated/agglayer.prover.v1.tonic.rs
  crates/agglayer-prover-types/src/generated/mod.rs
  crates/agglayer-prover/Cargo.toml
  crates/agglayer-prover/src/fake.rs
  crates/agglayer-prover/src/rpc.rs
  proto/aggkit/prover/v1/aggchain_proof_generation.proto
Labels: feature

#102 feat: adding prover engine call
  Cargo.lock
  Cargo.toml
  crates/aggchain-proof-builder/Cargo.toml
  crates/aggchain-proof-builder/src/error.rs
  crates/aggchain-proof-builder/src/lib.rs
  crates/aggchain-proof-service/src/service.rs
  crates/aggchain-proof-types/Cargo.toml
  crates/agglayer-prover/src/rpc.rs
  crates/proposer-client/src/lib.rs
  crates/proposer-service/Cargo.toml
  crates/proposer-service/src/lib.rs
  crates/proposer-service/src/tests/mod.rs
  crates/prover-executor/src/lib.rs
  crates/prover-executor/src/tests.rs
Labels: feature

#111 fix: add missing socket addr
  crates/aggkit-prover/src/lib.rs
Labels: bug

#118 feat: fixing the interop version
  Cargo.lock
  Cargo.toml
Labels: feature

#112 feat: proposer test program
  Cargo.lock
  crates/aggkit-prover-config/tests/snapshots/validate_deserialize__empty_rpcs.snap
  crates/aggkit-prover-config/tests/snapshots/validate_deserialize__prover_grpc_max_decoding_message_size.snap
  crates/proposer-client/src/client.rs
  crates/proposer-client/src/config.rs
  crates/proposer-client/src/error.rs
  crates/proposer-client/src/lib.rs
  crates/proposer-client/src/rpc.rs
  crates/proposer-client/src/tests/mod.rs
  crates/proposer-service/Cargo.toml
  crates/proposer-service/src/lib.rs
  crates/proposer-service/src/tests/mod.rs
  crates/proposer-service/src/tests/proposer_service_test_program.rs
Labels: agglayer/provers

#119 feat: add verification
  Cargo.lock
  Cargo.toml
  crates/aggchain-proof-builder/src/lib.rs
  crates/aggchain-proof-core/Cargo.toml
  crates/aggchain-proof-program/Cargo.toml
  crates/aggchain-proof-program/elf/aggregation-elf
  crates/aggchain-proof-service/src/lib.rs
  crates/proposer-client/src/client.rs
  crates/proposer-client/src/error.rs
  crates/proposer-client/src/lib.rs
  crates/proposer-client/src/network_prover.rs
  crates/proposer-service/src/error.rs
  crates/proposer-service/src/lib.rs
  crates/proposer-service/src/tests/mod.rs
Labels: agglayer/provers

#129 fix: public inputs retrieval
  crates/aggchain-proof-contracts/contracts/AggchainFEP.json
  crates/aggchain-proof-contracts/contracts/GlobalExitRootManagerL2SovereignChain.json
  crates/aggchain-proof-contracts/contracts/PolygonRollupManager.json
  crates/aggchain-proof-contracts/contracts/PolygonZkEVMBridgeV2.json
  crates/aggchain-proof-contracts/src/config.rs
  crates/aggchain-proof-contracts/src/lib.rs
  crates/aggchain-proof-contracts/src/tests/mod.rs
Labels: bug, agglayer/provers

#130 fix: service ready
  crates/aggchain-proof-builder/src/error.rs
  crates/aggchain-proof-builder/src/lib.rs
  crates/prover-executor/src/lib.rs
Labels: bug, agglayer/provers
